<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="lib/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="lib/bootstrap/spacelab.min.css">
    <link rel="stylesheet" href="css/styles.css">
    
    <!-- local icons -->
    <link rel="stylesheet" href="lib/icons/fontawesome5/css/all.css">
    <script src="js/jquery.js"></script>
    <script src="js/main.js"></script>

    <title>InterJota.Net</title>
  </head>
  <body>
